hr {
    max-width: 512px;
    border-top: solid 2px;
    margin-left: -5px;
}

.navbar {
    margin-bottom: 0px;
}

.bg-main {
    background-color: #4285F4;
}

.text-white {
    color: #fff
}

.text-center {
    text-align: center !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.marginleft-auto,
.marginboth-auto {
    margin-left: auto !important;
}

.marginleft-right,
.marginboth-auto {
    margin-right: auto !important;
}

.main-top {
    padding-top: 100px;
    padding-bottom: 50px;
}

.img-main-top
{
    max-height: 200px;
}

.img-round {
    border-radius: 50%;
}

section{
    padding: 100px 0;
}

.footer{
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #000000;
}